body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#webcam {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  /* Mirror effect */
  opacity: 1;
  /* Fully visible webcam */
  z-index: 0;
}

#output_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}